@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('../fonts/gontserrat/Gontserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('../fonts/gontserrat/Gontserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gontserrat', sans-serif;
}

@layer utilities {
  .ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: currentColor;
    border-radius: 50%;
    animation: ellipsis 1.2s infinite;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
  }

  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }

  @keyframes ellipsis {
    0%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
  }
}
